:root{
    scroll-behavior: smooth;
}
.topo {
    text-align:left;
    background-color: #3E4095;
    border: 2px; color: #5BC8AC;
}


.menu {
    text-align: center;
    background-color: rgb(0, 187, 141);
    border: 2px solid rgb(0, 0, 0);
    padding: 4px;
    margin: 10px;

}

.imglogo{
    text-align: center;
    border: 2px solid #000000;
    margin: 10px;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    background-color: rgba(173, 231, 163, 0.663);
    border: 3px solid black;
}

.principal {
    background-color: rgb(169, 212, 153);
}



.funcionalidades {
    background-color: rgb(188, 211, 166);


}
.atualizacoes {
    background-color: rgb(52, 192, 145);
}
   
.tabela {
    width:100%;
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

 td {
        padding: 20px;
        border: 2px solid #000000;
    }

th {
    background-color: rgb(202, 215, 190);
    padding: 20px ;
}


