:root{
    scroll-behavior: smooth;
}
.topo {
    text-align:left;
    background-color: rgb(123, 255, 0);
    border: 3px; color: rgb(41, 41, 139);
}


.menu {
    text-align: center;
    background-color: rgb(7, 176, 145);
    border: 3px solid rgb(0, 0, 0);
    padding: 4px;
    
}

.imglogo {
    border: 3px solid rgb(0, 0, 0)

}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    background-color: rgb(134, 244, 244);
    border: 3px solid black;
}

.principal {
    background-color: rgb(161, 216, 144);
}



.funcionalidades {
    background-color: aquamarine;


}
.atualizacoes {
    background-color: rgb(11, 146, 101);
}
   
.tabela {
    width:100%;
    border: 3px solid rgb(21, 26, 26);
    border-collapse: collapse;
}

